<div class="main">
  <div class="wrap">
    <div class="content_top">
      <div class="section group">
        <div class="col_1_of_3 span_1_of_3">
          <h2><span>welcome</span></h2>
          <h4>Lorem ipsum dolor sit amet</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col_1_of_3 span_1_of_3">
          <div class="menu_timmings">

          </div>
        </div>
        <div class="col_1_of_3 span_1_of_3">
          <h2><span>Latest Events</span></h2>
          <% @events.each do |event| %>
          <div class="event-grid">
            <div class="event_img">
              <%= image_tag event.picture.url(:medium), :title=>event.title, :alt=>"" %>
            </div>
            <div class="event_desc">
              <h4><span><%= event.title.upcase %></span></h4>
              <h4><%= event.event_date.to_date.to_formatted_s(:long).to_s %></h4>
              <p><%= event.content.to_s[0..30]%><%= link_to "[...]", event_path(event.id) %></p>
            </div>
            <div class="clear"> </div>
          </div>
         <% end %>
          <div class="view-all"><%= link_to "View All", events_path %></div>
        </div>
      </div>
    </div>
  </div>
</div>