<!DOCTYPE HTML>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>LoveFamilyNight</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $(window).load(function() {
          $('#slider').nivoSlider();
      });
  </script>
</head>
<body>
<div class="header">
  <div class="header_top">
    <div class="wrap">
      <div class="logo">
        <a href="index.html"><%= image_tag "logo.png" , :alt=>"" %></a>
      </div>
      <div class="menu">
        <ul>
          <!-- class="active" -->
          <li ><%= link_to "HOME" ,root_path %></li>
          <li><%= link_to "ABOUT" , :controller => 'welcome', :action => :about%></li>
          <li><%= link_to "EVENTS" , events_path %></li>
          <li><%= link_to "GALLERY" , :controller => 'welcome', :action => :about%></li>
          <li><%= link_to "BLOG" , :controller => 'welcome', :action => :about%></li>
          <li><%= link_to "CONTACT" , :controller => 'welcome', :action => :about%></li>

          <div class="clear"></div>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<%= yield %>
<div class="footer">
  <div class="wrap">
    <div class="half-footer" style="margin-left:0">
      <ul class="feeds">
        <h3>Our Latest feeds</h3>
        <li><a href="index.html">Lorem ipsum dolor consectetur adiping</a></li>
        <li><a href="blog.html">Nunc sagittis mollis eros, at venenatis</a></li>
        <li><a href="blog.html">Morbi nec dolor ipsum vel congugue</a></li>
        <li><a href="blog.html">Nullam a odio ipsum, at sodales lorem.</a></li>
        <li><a href="contact.html">Nullam imperdiet vulputate congugue</a></li>
      </ul>
      <div class="footer-pic"><%= image_tag "f-icon.png" , :alt=>"" %></div>
      <div class="clear"></div>
    </div>
    <div class="half-footer" style="border:none">
      <ul class="adress">
        <h3>Catch on</h3>
        <li><a href="index.html">Events Club</a></li>
        <li><a href="blog.html">West Coast, CA</a></li>
        <li><a href="blog.html">Facebook - I Music</a></li>
        <li><a href="blog.html">Login</a></li>
        <li><a href="contact.html">yourname(at)companyname.com</a></li>
      </ul>
      <div class="footer-pic"><%= image_tag "foot-icon.png" , :alt=>"" %></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="copy">
  <p>© 2014 Rights Reseverd | L.F.N</p>
</div>
</body>
</html>
